<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="device">

  <xacro:macro name="sensor_rplidar_a2_m12"
    params="parent prefix">

    <xacro:include
      filename="$(find yolo_rplidar_models)/urdf/common/sensor_rplidar_a2_mx.urdf.xacro" />

    <xacro:sensor_rplidar_a2_mx
      parent="${parent}"
      prefix="${prefix}" />

  </xacro:macro>

</robot>