<?xml version="1.0"?>
<robot name="d435_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find yolo_realsense2_models)/urdf/sensor_d435.urdf.xacro" />
  <xacro:include filename="$(find yolo_realsense2_models)/urdf/sensor_d435_gazebo_sim.urdf.xacro" />

  <link name="testbench_base_link" />
  <joint name="testbench_camera_joint" type="fixed">
    <parent link="testbench_base_link" />
    <child link="testbench_camera_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="testbench_camera_link" />

  <xacro:sensor_d435 parent="testbench_camera_link" use_nominal_extrinsics="true" />
  <xacro:sensor_d435_gazebo_sim light_mode="true" />
</robot>
